<footer>
    <div id="fcontainer">
        <div>
            <h3>Address</h3>
            <p>Konstantinoupoleos 29,  </p>
            <p>Serres 621 22, Greece</p>
        </div>
        <div>
            <h3>Opening Hours</h3>
            <p>Monday - Friday 11PM - 12AM</p>
            <p>Saturday 11PM - 12AM</p>
            <p>Sunday 11PM - 12AM</p>
        </div>
        <div>
            <h3>Contact Information</h3>
            <a href="mailto:kappariserres@gmail.com">Kappari.serres@gmail.com</a>
            <br />
            <a href="tel:2510222525">+30 25102 22525</a>
        </div>
    </div>
    <div id="social">
        <a href="https://www.facebook.com/profile.php?id=100069804766391" id="fb"><img src="/icons8-facebook-48.png" /></a>
        <a href="https://www.instagram.com/kappariserres/" id="ig"><img src="/icons8-instagram-48.png" /></a>
        <a href="https://www.tripadvisor.com.gr/Restaurant_Review-g658696-d11845209-Reviews-Kappari-Serres_Serres_Region_Central_Macedonia.html" id="tripadvisor"><img src="/icons8-tripadvisor-50.png" /></a>
    </div>
    <hr/>
    <div id="copyright">
        <p>Copyright &copy &nbsp;2024. &nbsp;&nbsp;&nbsp;&nbsp; Kappari Serres</p>
    </div>
</footer>