    <nav>
        <ul>
            <li id="menu"><a href="/menu">Menu</a></li>
            <li id="about-us"><a href="/about-us">About Us</a></li>
            <li id="home"><a href="/"><div id="logo"></div></a></li>
            <li id="gallery"><a href="/gallery">Gallery</a></li>
            <li id="reservetion"><a href="/reservation">Reservation</a></li>
        </ul>
    </nav>