<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us | Kappari</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/about-us.css" />
</head>
<body>
    
    <%- include('partials/header') %>

    <h1 class="header-title text-shadowed"><%= title %></h1>


    <div id="history">
        <div class="img-cont">
            <div id="f1">
                <img src="/gallery/caption (18).jpg" alt="food">
            </div>
            <div id="f2">
                <img src="/gallery/photo0jpg.jpg" alt="food">
            </div>       
        </div>

        <h3>Kapari: A Gastronomic Gem in Serres</h3>

        <p>Nestled in the heart of Serres, Kapari is a culinary haven that seamlessly combines modern creativity with traditional Greek flavors. Renowned for its elegant ambiance and warm hospitality, this restaurant offers a dining experience that appeals to locals and visitors alike. The carefully curated menu is a celebration of fresh, locally sourced ingredients, showcasing the best of what the region has to offer.</p>

        <p>At Kapari, every dish is a work of art. From innovative appetizers to expertly prepared main courses, the chefs take pride in crafting plates that not only tantalize the taste buds but also tell a story. Whether you're savoring a classic Greek dish reimagined with a contemporary twist or exploring unique Mediterranean-inspired creations, the flavors are sure to leave a lasting impression. The restaurant also caters to a variety of dietary preferences, ensuring every guest feels welcome.</p>
            
        <p>With its stylish yet cozy atmosphere, Kapari is the perfect setting for any occasion, from intimate dinners to celebratory gatherings. The attentive staff goes above and beyond to provide exceptional service, ensuring your visit is nothing short of memorable. Whether you're a food enthusiast or simply looking for a delightful meal, Kapari promises an unforgettable gastronomic journey in the charming city of Serres.</p>
    
    </div>

    <%- include('partials/map') %>

    <%- include('partials/footer') %>

</body>
</html>