<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservetion | Kappari</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menu.css" />
</head>
<body>
    
    <%- include('partials/header') %>

    <h1 class="header-title text-shadowed"><%= title %></h1>

    <div id="menu-cont">
        <h2>- Salads -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Lorem, ipsum.</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dicta, cum!</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Repellendus, officiis.</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dolorum, tenetur.</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <hr/>
        <h2>- Apetizers -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Fresh fries</h3>
                    <small>Παράγγειλε τηγανητές πατάτες και προσπάθησε να βρεις έναν λόγο, που οι τηγανητές πατάτες είναι συνοδευτικό και όχι κυρίως.. Το προιόν επιβαρύνεται με επιπλέον τέλος ανακύκλωσης PVC 0.1€ (συμπεριλαμβανομένου ΦΠΑ 24%)</small>
                    <p>Category: lorem1</p>
                    <p class="price">3.60&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dicta, cum!</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Repellendus, officiis.</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dolorum, tenetur.</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <hr />
        <h2>- Meals -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Lorem, ipsum.</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dicta, cum!</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Repellendus, officiis.</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dolorum, tenetur.</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <hr />
        <h2>- See Food -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Lorem, ipsum.</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dicta, cum!</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Repellendus, officiis.</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dolorum, tenetur.</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <hr />
        <h2>- Burgers - Sandwitches -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Lorem, ipsum.</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dicta, cum!</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Repellendus, officiis.</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Dolorum, tenetur.</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <hr />
        <h2>- Sodas - Water -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Water 1Lt</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Water 0.75Lt</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Coca cola 1.5Lt</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Coca cola 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Coca cola light 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Gazoza 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Fanta 1.5Lt</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Fanta 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
        <h2>- Beers -</h2>
        <div class="category">
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/001315-largejpg.jpg" alt="food"></div>
                <div class="info">
                    <h3>Amstel 770ml</h3>
                    <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores maiores praesentium mollitia.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (10).jpg" alt="food"></div>
                <div class="info">
                    <h3>Amstel free 770ml</h3>
                    <small>Libero odio porro quisquam nulla deleniti nostrum ducimus et totam corrupti obcaecati?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (11).jpg" alt="food"></div>
                <div class="info">
                    <h3>Heineken 450ml</h3>
                    <small>Et sequi, corporis dignissimos ratione neque animi fugiat officia a quia delectus?</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Fix 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Alpha 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Gazoza 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Fanta 1.5Lt</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
            <div class="card">
                <div class="imgcontainer"><img src="/gallery/caption (12).jpg" alt="food"></div>
                <div class="info">
                    <h3>Fanta 330ml</h3>
                    <small>Pariatur voluptates ullam at amet ipsum impedit nihil consectetur eligendi sint asperiores.</small>
                    <p>Category: lorem1</p>
                    <p class="price">4.00&euro;</p>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/map') %>

    <%- include('partials/footer') %>

</body>
</html>


<!-- τεμαχια 
ψητα σχαρας - ψητα σουβλας
μαγειρευτα σουπες μακαροναδες
Ουζα - τσιπουρα
Ρετσινες - Κρασια -->