<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservetion | Kappari</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/reservetion.css" />
</head>
<body>
    
    <%- include('partials/header') %>

    <h1 class="header-title text-shadowed"><%= title %></h1>

    <p id="msg">Please contact us at +30 21035 49673 to make a reservation or send us an email</p>
    
    <h3 id="contact-us">Contact Us</h3>
    <p id="comment">Got a question? We'd love to hear from you!</p>

    <form action="/submit" method="post" >
        <div class="txt">
            <label for="name">Full Name</label>
            <input type="text" placeholder="Nikos Papadopoulos" id="name" name="name" reaquired>
        </div>
        <div class="txt">
            <label for="email">Email</label>
            <input type="email" placeholder="myemail@gmail.com" id="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        </div>
        <div class="txt">
            <label for="population">People</label>
            <input type="number" value="2" id="population" name="population" required>
        </div>
        <div class="txt">
            <label for="phone">Number</label>
            <input type="number" placeholder="6909999999" id="phone" name="phone" pattern="^(2\d{9}|69\d{8})$" required>
        </div>
        <div class="txt">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div class="txt">
            <label for="time">Time</label>
            <input type="time" id="time" name="time" required>
        </div>
        <div class="txt">
            <label for="extra-info">Message</label>
            <input type="number" placeholder="Write a message" id="extra-info" name="msg" autocomplete="off">
        </div>
        <input type="submit" value="Submit" id="submit">
    </form>

    <%- include('partials/map') %>

    <%- include('partials/footer') %>

</body>
</html>