#menu-cont {
    background-color: #00000057;
    /* background-color: rgb(70, 70, 70); */
    margin: 100px auto 0px;
    padding: 10px;
}

.category {
    /* border:1px solid purple; */
    /* background-color: blue; */
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* padding:10px; */
    margin-bottom: 50px;
}

h2 {
    /* background-color: rgb(40, 121, 0); */
    text-align: center;
    color: #cccccc;
    font-size: 25px;
    margin-top:80px;
}


.card img {
    width: 70px;
    /* min-width: 150px; */
    height: 70px;
    object-fit: cover;
    object-position: center;
}

.card {
    /* background-color: red; */
    display: flex;
    /* border: 1px solid #ffffff; */
    margin: 10px auto;
    width: 95%;
    max-width: 350px;
    align-items: center;
    position: relative;
}

h3 {
    /* background-color: blue; */
    margin:0px 0px 10px 0px;
    position: relative;
    top:-15px;
}

small {
    position: relative;
    top:-10px;
    color: rgba(128, 128, 128, 0.828)
}

.info {
    /* background-color: purple; */
    padding: 20px;
}

.price {
    position: absolute;
    right: 10px;
    bottom:-10px;
    color:gold
}

hr {
    width:50%;
    border:1px solid #ffd900aa;
}




@media only screen and (min-width:600px) {
    #menu-cont {
        box-shadow: 0px 0px 10px #ffd700aa;
        border-radius: 10px;
        width: 90%;
        max-width: 1000px;
    }

    .card {
        margin:30px auto;
    }

    .card img {
        width:100px;
        height:100px;
    }
}